
        * {
            margin: 0;
            padding: 0;
        }

        header {
            height: 120px;
            width: 100%;
            background-color: #19d2f5;
            text-align: center;
        }

        ul {
            display: inline-block;
            width: 1200px;
            margin: 0 auto;
        }

        header ul li {
            float: left;
            margin-left: 20px;
            list-style: none;
            height: 35px;
            line-height: 35px;
            width: 120px;
            text-align: center;
            background-color: #ffd800;
            cursor: pointer;
            margin-top: 50px;
        }

            header ul li:hover {
                background-color: red;
            }

            header ul li a {
                text-decoration: none;
            }

        .active {
            background-color: red;
        }

        footer {
            height: 80px;
            width: 100%;
            background-color: aqua;
            text-align: center;
            line-height: 80px;
        }


        #body {
            text-align: center;
            height: 1300px;
        }

            #body h1 {
                font-family: 'Modern Antiqua', cursive;
                font-size: 40px;
                margin-top: 40px;
                margin-bottom: 50px;
            }

            #body .Apparels {
                width: 90%;
                margin: 0 auto;
            }

            #body .Apparel {
                width: 45%;
                margin-left: 3.3%;
                height: 450px;
                float: left;
            }

                #body .Apparel p {
                    text-align: left;
                    margin-left: 15%;
                }

        img {
            width: 70%;
        }

        .img3 {
            width: 80%;
        }
        footer img {
            width: 50px;
        }
